<p>Khách hàng {{ nameUser }},</p>
<p>Đã đặt thành công sân :  {{namePlace}}</p>
<p>Địa chỉ :  {{address}}</p>
<p>Số điện thoại :  {{phonePlace}}</p>
<p>Thời gian đặt :  {{timeOder}}  ngày {{dayOrder}}</p>
<p>Số điện thoại đặt sân :  {{phone}}</p>

<p>Quý khách vui lòng đến sớm 5 phút để nhận sân</p>
<p>Cảm ơn quý khách đã dùng dịch vụ của datsan.xyz</p>
<p></p>
