
<p>Khiếu nại đơn hàng  mã đơn hàng :{{orderId}}</p>
<p>Thông tin đơn hàng </p>
<p>Khách hàng {{ nameUser }},</p>
<p>Đã đặt thành công sân :  {{namePlace}}</p>
<p>Địa chỉ :  {{address}}</p>
<p>Số điện thoại chủ sân:  {{phonePlace}}</p>
<p>Thời gian đặt :  {{timeOder}}  ngày {{dayOrder}}</p>
<p>Số điện thoại đặt sân :  {{phone}}</p>


<p>Kết quả kiếu nại : {{result}}</p>

<p>Cảm ơn quý khách đã dùng dịch vụ của datsan.xyz</p>
<p></p>
